body {
  padding: 50px;
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cadetblue;
  background-image: url("/images/Picture2.jpg");
}

a {
  color: #00B7FF;
}
img.about{
  max-width: 100%;
}
